#SUPPORTED_LANGUAGES: EN;RU;

#PAGE_TITLE:Astral Heroes: strategy card game. Official site.
#PAGE_TITLE_RU:Astral Heroes - стратегическая карточная игра. Официальный сайт.

#PAGE_DESCRIPTION:Astral Heroes is a magical online card game with deck building, similar to Hearthstone, Spellweaver, Faeria, MtG and others. You summon creatures and cast spells to defeat your opponents.
#PAGE_DESCRIPTION_RU:Astral Heroes - коллекционная карточная игра, похожая на Hearthstone, Faeria, Берсерк, MtG и т.д. Собери колоду из магических существ и волшебных заклинаний и сразись с соперником в онлайн-поединках. Кроме того, можно играть случайными колодами, участвовать в драфт-турнирах, сражаться с ботами в кампании, объединяться в гильдии и многое другое.

#BUTTON_DOWNLOAD:Download!
#BUTTON_STEAM:Steam
#BUTTON_WIKI:Wiki

#BUTTON_DOWNLOAD_RU:Скачать!
#BUTTON_STEAM_RU:Стим
#BUTTON_WIKI_RU:Wiki

#BUTTON_DOWNLOAD_DESC:Download and install the game
#BUTTON_STEAM_DESC:Get the game on Steam
#BUTTON_WIKI_DESC:Visit the official game Wiki

#BUTTON_DOWNLOAD_DESC_RU:Скачайте и установите игру на ваш компьютер
#BUTTON_STEAM_DESC_RU:Добавьте игру в вашу коллекцию Steam!
#BUTTON_WIKI_DESC_RU:Посетите официальную энциклопедию игры на сайте Gamepedia

#BUTTON_DOWNLOAD_EXT:Windows client:
#BUTTON_STEAM_EXT:Available on Steam
#BUTTON_WIKI_EXT:Official Gamepedia Wiki

#BUTTON_DOWNLOAD_EXT_RU:Игра для Windows:
#BUTTON_STEAM_EXT_RU:Игра доступна в Steam!
#BUTTON_WIKI_EXT_RU:Официальная вики на Gamepedia


#MOTTO_LINE1:ONLINE STRATEGY CARD GAME
#MOTTO_LINE1_RU:КАРТОЧНАЯ СТРАТЕГИЯ 

#MOTTO_LINE2:FAST-PACED, 
#MOTTO_LINE2_RU:

#STAY_TUNED:STAY TUNED, FOLLOW US!
#STAY_TUNED_RU:ПОДПИШИТЕСЬ И ОСТАВАЙТЕСЬ С НАМИ:

#STAY_TUNED2:STAY TUNED, FOLLOW US!
#STAY_TUNED2_RU:МЫ В СОЦИАЛЬНЫХ СЕТЯХ:

#PLAY_BTN_CAPTION:Play for Free!
#PLAY_BTN_CAPTION_RU:Играть бесплатно!

#GAME_CLIENT_DEF:Windows client:
#GAME_CLIENT_DEF_RU:Игра для Windows:

#PLAY_BTN_CAPTION2:Download game!
#PLAY_BTN_CAPTION2_RU:Скачать игру!

#GAME_CLIENT_DEF2:Windows client:
#GAME_CLIENT_DEF2_RU:Клиент для Windows:

#TITLE_NEWS:News
#TITLE_NEWS_RU:Новости

#TITLE_ABOUT:About Astral Heroes
#TITLE_ABOUT_RU:Об игре Astral Heroes

#TITLE_BEST_PLAYERS:Best Players
#TITLE_BEST_PLAYERS1:Best in Customized Decks
#TITLE_BEST_PLAYERS2:Best in Random Decks
#TITLE_BEST_PLAYERS3:Best in Drafts
#TITLE_BEST_GUILDS:Best Guilds

#TITLE_BEST_PLAYERS_RU:Лучшие игроки
#TITLE_BEST_PLAYERS1_RU:Лучшие в своих колодах
#TITLE_BEST_PLAYERS2_RU:Лучшие в случайных колодах
#TITLE_BEST_PLAYERS3_RU:Лучшие в драфтах
#TITLE_BEST_GUILDS_RU:Сильнейшие гильдии

#TITLE_LOGIN:LOGIN
#LABEL_LOGIN1:Enter your game account credentials:
#BTN_ENTER:Enter

#TITLE_LOGIN_RU:ВХОД
#LABEL_LOGIN1_RU:Введите email и пароль аккаунта:
#BTN_ENTER_RU:Войти

#TITLE_NEW_ACCOUNT:NEW ACCOUNT
#LABEL_NEWACC1:Please fill the form:
#LABEL_NEWACC2:Choose your character face<br>(you can change it later):
#LABEL_NEWACC3:Select your <b>initial</b> speciality:<br>&nbsp;
#BTN_NEWACC:Next...

#TITLE_NEW_ACCOUNT_RU:НОВЫЙ АККАУНТ
#LABEL_NEWACC1_RU:Пожалуйста заполните форму:
#LABEL_NEWACC2_RU:Выберите аватару<br>(вы сможете изменить её позже):
#LABEL_NEWACC3_RU:Выберите <b>начальную</b> специализацию:<br>&nbsp;
#BTN_NEWACC_RU:Далее...


#BTN_LOGIN:Log In
#BTN_SIGNUP:Sign Up
#BTN_LOGOUT:Logout
#BTN_SAVE:Save
#BTN_CANCEL:Cancel

#BTN_LOGIN_RU:Вход
#BTN_SIGNUP_RU:Регистрация
#BTN_LOGOUT_RU:Выход
#BTN_SAVE_RU:Сохранить
#BTN_CANCEL_RU:Отмена

#COL_PLACE:Pos.
#COL_NAME:Name
#COL_LEVEL:Level
#COL_FAME:Fame
#COL_WINLOSS:Wins/Losses
#COL_EXP:Exp.
#COL_LEADER:Leader

#COL_PLACE_RU:Поз.
#COL_NAME_RU:Имя
#COL_LEVEL_RU:Уровень
#COL_FAME_RU:Слава
#COL_WINLOSS_RU:Побед/пораж.
#COL_EXP_RU:Опыт
#COL_LEADER_RU:Лидер

#LABEL_PAGES:Pages
#LABEL_LEADERBOARD:Leaderboards
#LABEL_FORUMS:Forums
#LABEL_ABOUT:Home

#LABEL_EMAIL0:Email:
#LABEL_TITLE:Title:
#LABEL_GUILD:Guild:
#LABEL_REALNAME:Real name:
#LABEL_LOCATION:City/Country:
#LABEL_REGDATE:Created:

#LABEL_CUSTOMDECKS:Customized decks
#LABEL_RANDOMDECKS:Random decks
#LABEL_DRAFTS:Drafts
#LABEL_TOTAL:TOTAL

#COLUMN_LEVEL:Level
#COLUMN_FAME:Fame
#COLUMN_W_L:Wins&nbsp;/&nbsp;Losses
#COLUMN_PLACE:Place

#LABEL_PAGES_RU:Стр
#LABEL_LEADERBOARD_RU:Рейтинг
#LABEL_FORUMS_RU:Форумы
#LABEL_ABOUT_RU:Об игре

#LABEL_EMAIL0_RU:Email:
#LABEL_TITLE_RU:Титул:
#LABEL_GUILD_RU:Гильдия:
#LABEL_REALNAME_RU:Ваше имя:
#LABEL_LOCATION_RU:Страна/город:
#LABEL_REGDATE_RU:Зарегистрирован:

#LABEL_CUSTOMDECKS_RU:Свои колоды
#LABEL_RANDOMDECKS_RU:Случайные колоды
#LABEL_DRAFTS_RU:Драфты
#LABEL_TOTAL_RU:ИТОГО

#COLUMN_LEVEL_RU:Уровень
#COLUMN_FAME_RU:Слава
#COLUMN_W_L_RU:Побед&nbsp;/&nbsp;Пораж.
#COLUMN_PLACE_RU:Место


#LABEL_EMAIL:Email
#LABEL_PASSWORD:Password
#LABEL_PASSWORD2:Confirm password
#LABEL_ACCNAME:Account Name

#LABEL_EMAIL_RU:Адрес email
#LABEL_PASSWORD_RU:Пароль
#LABEL_PASSWORD2_RU:Еще раз пароль
#LABEL_ACCNAME_RU:Имя аккаунта

#LABEL_SELCHAPTER:Select a chapter:
#LABEL_SELCHAPTER_RU:Выберите раздел:

#CHAPTER1:General
#CHAPTER1_DESC:Discuss the game, gameplay, strategies, cards balance, interface etc.
#CHAPTER2:Problems / Bugs
#CHAPTER2_DESC:Found a bug in the game or the game site? Let us know here!
#CHAPTER3:Off-topic
#CHAPTER3_DESC:Any discussions not about the Astral&nbsp;Heroes.
#CHAPTER4:News
#CHAPTER4_DESC:You can discuss our news and announces here.
#CHAPTER5:Suggestions
#CHAPTER5_DESC:Propose any improvements for the game or the game site. We want to hear from you!
#CHAPTER6:Guilds
#CHAPTER6_DESC:Guilds discussions and guilds private threads.
#CHAPTER7:Tournaments
#CHAPTER7_DESC:A place for running the tournaments.

#CHAPTER1_RU:Об игре
#CHAPTER1_DESC_RU:Обсуждение карт, интерфейса, игровой механики, баланса и т.д.
#CHAPTER2_RU:Проблемы и баги
#CHAPTER2_DESC_RU:Нашли баг или столкнулись с проблемой? Расскажите об этом здесь!
#CHAPTER3_RU:Оффтопик
#CHAPTER3_DESC_RU:Любые обсуждения, не касающиеся игры Astral&nbsp;Heroes.
#CHAPTER4_RU:Новости
#CHAPTER4_DESC_RU:Здесь обсуждаются новости и объявления.
#CHAPTER5_RU:Предложения
#CHAPTER5_DESC_RU:Ваши идеи по улучшению игры и её сайта. Давайте вместе сделаем игру лучше!
#CHAPTER6_RU:Гильдии
#CHAPTER6_DESC_RU:Здесь можно обсуждать гильдейские вопросы, втч приватно.
#CHAPTER7_RU:Турниры
#CHAPTER7_DESC_RU:Место для проведения и обсуждения турниров.


#TITLE_NEW_THREAD:New Thread
#TITLE_NEW_THREAD_RU:Новая тема

#COL_SUBJECT:Subject
#COL_COMMENTS:Comments
#COL_LAST_POST:Last Post

#COL_SUBJECT_RU:Тема
#COL_COMMENTS_RU:Ответов
#COL_LAST_POST_RU:Изменено

#THREAD_PINNED:Pinned Thread
#THREAD_CLOSED:Closed Thread
#THREAD_HIDDEN:Hidden Thread
#THREAD_GUILD_PRIVATE:Guild Private thread - visible for guild members only

#THREAD_PINNED_RU:Тема закреплена
#THREAD_CLOSED_RU:Тема закрыта
#THREAD_HIDDEN_RU:Скрытая тема
#THREAD_GUILD_PRIVATE:Приватная тема гильдии - видна только членам гильдии

#BTN_CREATE_THREAD:Create Thread
#BTN_ADD_MESSAGE:Add message
#BTN_REPLY:Reply
#BTN_QUOTE:Quote
#BTN_ADDQUOTE:Insert Quote
#BTN_DELETE:Delete
#BTN_EDIT:Edit
#BTN_UPLOAD:Upload
#BTN_ACCEPT:Apply
#LABEL_LEVEL:level

#BTN_CREATE_THREAD_RU:Новая тема
#BTN_ADD_MESSAGE_RU:Написать
#BTN_REPLY_RU:Ответить
#BTN_QUOTE_RU:Цитата
#BTN_ADDQUOTE_RU:Вставить цитату
#BTN_DELETE_RU:Удалить
#BTN_EDIT_RU:Редактировать
#BTN_UPLOAD_RU:Загрузить
#BTN_ACCEPT_RU:Сохранить
#LABEL_LEVEL_RU:уровень

#MSG_THREAD_CLOSED:THREAD CLOSED!
#MSG_THREAD_CLOSED_RU:ТЕМА ЗАКРЫТА!

#LNK_LEAVE_COMMENT:Leave a comment
#LNK_READ_MORE:Read more...
#LNK_COMMENTS:comment(s)

#LNK_LEAVE_COMMENT_RU:Обсудить на форуме
#LNK_READ_MORE_RU:Читать дальше...
#LNK_COMMENTS_RU:ответ(ов)

#SKIPPED_MSGS:Show omited comments ($SKIPPED_RANGE)
#SKIPPED_MSGS_RU:Показать пропущенные комментарии ($SKIPPED_RANGE)

#MSG_SCROLL_TOP:Scroll to the page top
#MSG_SCROLL_BOTTOM:Scroll to the page end
#MSG_SCROLL_TOP_RU:Перейти к началу страницы
#MSG_SCROLL_BOTTOM_RU:Перейти к концу страницы

#MSG_FORUM_ADMIN:Game Developer
#MSG_FORUM_ADMIN_RU:Создатель игры
#MSG_FORUM_MOD:Moderator
#MSG_FORUM_MOD_RU:Модератор

#MSG_EMAIL_NOT_VERIFIED:Not verified
#MSG_VERIFY_EMAIL:verify
#MSG_EMAIL_NOT_VERIFIED_RU:Не подтверждён
#MSG_VERIFY_EMAIL_RU:подтвердить

#MSG_EDIT_ICON:Change
#MSG_EDIT_ICON_RU:Изменить

#LINK_EDIT:edit
#LINK_EDIT_RU:изменить

#ACCOUNT_BLOCK_STATS_TITLE:Statistics
#ACCOUNT_BLOCK_ABOUT_TITLE:About
#ACCOUNT_BLOCK_AVATAR_TITLE:Avatar
#ACCOUNT_BLOCK_PREMIUM_TITLE:Premium
#ACCOUNT_BLOCK_GOLD_TITLE:Balance
#ACCOUNT_BLOCK_CRAFTED_TITLE:Crafted cards
#ACCOUNT_BLOCK_NOTIFICATIONS_TITLE:Notifications

#ACCOUNT_BLOCK_STATS_TITLE_RU:Статистика
#ACCOUNT_BLOCK_ABOUT_TITLE_RU:О себе
#ACCOUNT_BLOCK_AVATAR_TITLE_RU:Аватара
#ACCOUNT_BLOCK_PREMIUM_TITLE_RU:Премиум
#ACCOUNT_BLOCK_GOLD_TITLE_RU:Баланс
#ACCOUNT_BLOCK_CRAFTED_TITLE_RU:Созданные карты
#ACCOUNT_BLOCK_NOTIFICATIONS_TITLE_RU:Оповещения

#HINT_LIKE:Like (+2)
#HINT_DISLIKE:Dislike (-1)
#HINT_LIKE_RU:Нравится (+2)
#HINT_DISLIKE_RU:Не нравится (-1)

#HINT_UPLOADCUSTOM:Upload custom avatar from your computer
#HINT_SAVECHANGES:Apply changes
#HINT_EMAIL_VERIFIED:Email verified
#HINT_EMAIL_NOT_VERIFIED:Email NOT verified
#VERIFY_EMAIL:NOT verified (<a href=# onClick='AccountVerifyEmail(); return false;'>verify</a>)

#HINT_UPLOADCUSTOM_RU:Загрузить собственную аватару из файла на вашем компьютере
#HINT_SAVECHANGES_RU:Сохранить изменения
#HINT_EMAIL_VERIFIED_RU:Email подтверждён
#HINT_EMAIL_NOT_VERIFIED_RU:Email НЕ подтверждён
#VERIFY_EMAIL_RU:Не подтверждён (<a href=# onClick='AccountVerifyEmail(); return false;'>подтвердить</a>)

#NOTIFY_ITEM_N:Do not receive email notifications
#NOTIFY_ITEM_Y:Instantly receive email notifications
#NOTIFY_ITEM_1:Receive hourly aggregated notifications
#NOTIFY_ITEM_2:Receive daily aggregated notifications
#NOTIFY_UNVERIFIED:Notifications are disabled. Please verify your email to make them available.

#NOTIFY_ITEM_N_RU:Не получать уведомления по email
#NOTIFY_ITEM_Y_RU:Получать уведомления о каждом событии
#NOTIFY_ITEM_1_RU:Получать сводку не чаще чем раз в день
#NOTIFY_ITEM_2_RU:Получать сводку не чаще чем раз в час
#NOTIFY_UNVERIFIED:Уведомления не работают поскольку ваш адрес email не подтверждён. Подтвердите адрес (нажав по ссылке в блоке &quot;О себе&quot;) чтобы сделать доступными уведомления.

#LABEL_SEARCH:Search
#SEARCH_NOTHING_FOUND:No matches...
#LABEL_POSTED_AGO:posted <b>$SEARCH_AGE</b> day(s) ago:
#LABEL_SEARCH_RU:Поиск
#SEARCH_NOTHING_FOUND_RU:Ничего не найдено...
#LABEL_POSTED_AGO_RU:написал <b>$SEARCH_AGE</b> дн. назад:

#LABEL_THREAD:Thread
#LABEL_THREAD_RU:Тема

#LANGUAGE_EN:
str.Quote='Reply';
str.Name='Name';
str.Level='level';
str.noUnread='No unread messages';
str.Unread=' unread message(s)';
str.Msg=' msg';
str.Last=', last: ';
str.Edit='Edit';
str.Delete='Delete';
str.Abuse='Abuse';
str.Link='Link';
str.Expand='Expand ';
str.msgsBelow=' messages below';
str.msgsAbove=' messages above';
str.AddMsg='Add message';
str.Closed='CLOSED';
str.Deleted='DELETED';
str.Wrote=' wrote:';
str.Menu='&nbsp;Menu ▼';
str.Loading='Loading...';
str.ClickChapter='Click to expand this chapter';
str.CreateTopic='Create a new topic in this chapter';
str.Smiles='Smiles';
str.InsImage='Upload and Insert Image';
str.InsDeck='Insert Deck';
str.AttachFile='Attach File (image/archive/text)';
str.BigFileConvert='This file is larger than 64K, it will be converted to JPEG';
str.newTopic='NEW TOPIC:';
str.topic='Title';
str.Submit='Submit';
str.Close='Close';
str.Overquoted='Your message looks overquoted. Do you really want to post it now?';
str.shortName='Name must be at least 3 character length';
str.needAuth='Please login or register to create new topic.';
str.askDelete='Really delete this message?';
str.deleting='Deleting...';
str.linkMade='Link to this topic:';
str.topicIn='New topic in ';
str.tLang='Topic language: ';
str.tlangDesc='You MUST use this language in your message! Otherwise your message will be deleted.';
str.Sticked='Sticked topic';
str.SelectTopic='Select target topic LED';
str.alreadyRated='You have already rated this message';
str.ownPostRated='You can not rate your own message';
str.PleaseWait='Please wait...';
str.BadTopicTitle='Thread title is too short';
str.Next='Next...';
str.Create='Create!';
str.Wizard='Wizard';
str.Priest='Dark Priest';
str.WizardDesc='Mighty mage, who uses power<br>of Life and Chaotic magic.';
str.PriestDesc='Servant of the dark gods,<br>he control the powers of<br>Order and Death.';
str.Unspecified='unspecified';
str.LoginToPost='Please login to post messages';
str.MessageChanged='Do you really want to close? Any changes will be lost!';
str.UploadAvatar='Upload Avatar';
str.GuildPrivateThread='guild private thread - only guild members can see it';
str.Subscribe1='notify me when someone reply to this message';
str.Subscribe2='notify me about all the new messages in this thread';
str.title1='Novice Mage';
str.title2='Mage';
str.title3='Advanced Mage';
str.title4='Expert Mage';
str.title5='Magister';
str.title6='Archmage';
str.title7='Supreme Mage';
str.Saving='Saving...';
str.Saved='Saved!';

#LANGUAGE_RU:
str.Quote='Ответить';
str.Name='Имя';
str.Level='уровень';
str.noUnread='Нет непрочитанных';
str.Unread=' новых сообщений';
str.Msg=' шт.';
str.Last=', посл: ';
str.Edit='Редактировать';
str.Delete='Удалить';
str.Abuse='Пожаловаться';
str.Link='Ссылка';
str.Expand='Раскрыть ';
str.msgsBelow=' следующих сообщений';
str.msgsAbove=' предыдущих сообщений';
str.AddMsg='Написать';
str.Closed='ТЕМА ЗАКРЫТА';
str.Deleted='ТЕМА УДАЛЕНА';
str.Wrote=' пишет:';
str.Menu='&nbsp;Еще ▼';
str.Loading='Загрузка...';
str.ClickChapter='Нажмите чтобы раскрыть раздел';
str.CreateTopic='Создать новую тему в этом разделе';
str.Smiles='Смайлы';
str.InsImage='Загрузить и вставить картинку';
str.InsDeck='Вставить колоду';
str.AttachFile='Прикрепить файл (картинка/архив/текст)';
str.BigFileConvert='Этот файл больше 64K, поэтому он будет преобразован в JPEG';
str.newTopic='НОВАЯ ТЕМА:';
str.topic='Тема';
str.Submit='Отправить';
str.Close='Закрыть';
str.Overquoted='В вашем сообщении слишком много цитат, вы точно хотите его опубликовать?';
str.shortName='Имя должно быть не короче 3-х символов';
str.needAuth='Создавать темы могут только зарегистрированные игроки.';
str.askDelete='Удалить это сообщение?';
str.deleting='Удаляем...';
str.linkMade='Ссылка на это сообщение:';
str.topicIn='Новая тема в разделе ';
str.tLang='Язык темы: ';
str.tlangDesc='Ваше сообщение должно быть написано на указанном языке! Иначе оно будет удалено.';
str.Sticked='Прикрепленная тема';
str.SelectTopic='Выберите LED-индикатор темы назначения';
str.alreadyRated='Вы уже оценили это сообщение';
str.ownPostRated='Нельзя оценивать собственное сообщение';
str.PleaseWait='Пожалуйста подождите...';
str.BadTopicTitle='Название темы слишком короткое';
str.Next='Далее...';
str.Create='Создать!';
str.Wizard='Волшебник';
str.Priest='Тёмный жрец';
str.WizardDesc='Могущественный маг,<br> повелевающий стихиями<br> жизни и хаоса.';
str.PriestDesc='Служитель тёмных богов,<br> управляющий стихиями<br> порядка и смерти.';
str.Unspecified='не указано';
str.LoginToPost='Пожалуйста авторизуйтесь чтобы писать сообщения';
str.MessageChanged='Вы действительно хотите закрыть редактор? Изменения не будут сохранены.';
str.UploadAvatar='Загрузка аватары';
str.GuildPrivateThread='приватная тема гильдии - видна только членам гильдии';
str.Subscribe1='получать уведомления об ответах на ваше сообщение';
str.Subscribe2='получать уведомления о всех новых сообщениях в этой теме';
str.title1='Начинающий маг';
str.title2='Маг';
str.title3='Опытный маг';
str.title4='Высший маг';
str.title5='Магистр';
str.title6='Архимаг';
str.title7='Верховный маг';
str.Saving='Сохраняем...';
str.Saved='Сохранено!';